/* color variables */
:root {
  --bg-color: rgb(8, 59, 76);
  --normal-sqaure: rgb(19, 137, 178);
  --green-square: rgb(11, 214, 161);
  --yellow-square: rgb(255, 209, 102);
  --red-square: rgb(239, 70, 111);
}

/* genral rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--bg-color);
}

/* layout */
header {
  text-align: center;
}

header h1.main-title {
  margin: 0.4em 0 0.6em 0;
  font-size: 6em;
  font-weight: bolder;
  color: white;
}

/* main layout */
main {
  width: 70%;
  margin: 0 auto;
}

ul.number_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

ul li {
  width: 120px;
  height: 120px;
  background-color: var(--normal-sqaure);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 2em;
}

/* classses to add with js */
.green {
  background-color: var(--green-square);
}
.yellow {
  background-color: var(--yellow-square);
}
.red {
  background-color: var(--red-square);
}