/* color variables */
:root {
  --bg-color: rgb(8, 59, 76);
  --normal-sqaure: rgb(19, 137, 178);
  --green-square: rgb(11, 214, 161);
  --yellow-square: rgb(255, 209, 102);
}

/* genral rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}